<nav>
	<ul>
		<li {{action "showHide"}}>about</li>
	</ul>
</nav>

<div class="overlay">
	<header class={{this.currentRouteName}}>
		<h1 class="overlay-logo">subforum</h1>
		{{fa-icon "close" click=(action "showHide")}}
	</header>

	<div class="about-body">
		<div class="papua">
			<h1>What We Are</h1>
			<p>At Subforum, we’ve embarked on an experiment to see if design can, in fact, be used to make the world a better place.Subforum team members and attendees use design as a way of better understand their own experiences and lives, and communicate those ideas to others. Subforum comprises a core team that orchestrates the group as a whole, and topic teams which are dedicated to understanding, researching, and communicating findings about important topics.</p>

			<p>We conduct research through our topic teams, disseminate meaningful content, engage with our community and city of work, and offer educational programs. Contact us at info@subforum.org to learn more about turning design insights into world changing tools.</p>
		</div>
		<div class="new-guinea">
			<h1>Who We Are</h1>
			<ul>
					<li>Giles Phillips <a href="https://twitter.com/gilesphillips">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/gilesphillips">{{fa-icon "linkedin"}}</a></li>
					<li>Damon Dimmick <a href="https://twitter.com/damondimmick">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/damondimmick">{{fa-icon "linkedin"}}</a></li>
					<li>John Biebel <a href="https://www.linkedin.com/in/john-biebel-6921938">{{fa-icon "linkedin"}}</a></li>
					<li>Ronjon Bhattacharya <a href="https://twitter.com/KendallStaffing">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/ronjonbhattacharya">{{fa-icon "linkedin"}}</a></li>
					<li>Galen Moore <a href="https://twitter.com/galenmoore">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/galenmoore">{{fa-icon "linkedin"}}</a></li>
					<li>Adam Hasler <a href="https://twitter.com/amhasler">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/adam-hasler-3599155">{{fa-icon "linkedin"}}</a></li>
					<li>Emily Carlin <a href="https://www.linkedin.com/in/emily-carlin-760b2342">{{fa-icon "linkedin"}}</a></li>
					<li>Julie Sargent <a href="https://twitter.com/sargentja">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/juliesargent">{{fa-icon "linkedin"}}</a></li>
					<li>Bryant Wolf <a href="https://twitter.com/BA_Wolf">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/bryantawolf">{{fa-icon "linkedin"}}</a></li>
			</ul>
		</div>
	</div>
</div>


{{yield}}
