<nav>
	<ul>
		<li {{action "showHide"}}>about</li>
	</ul>
</nav>

<div class="overlay">
	<header class={{this.currentRouteName}}>
		<div class="logo"></div>
		{{fa-icon "close" click=(action "showHide")}}
	</header>

	<div class="about-body">
		<div class="papua">
			<h3>Can design make the world a better place?</h3>
			<p> Subforum is an award-winning, multidisciplinary design and research group. Subforum was founded in 2012 to help address the gulf between academic research, applied practice, and “industry” in general. We believe that all forms of design must be done with a deep sense of responsibility to elevate, rather than detract from, the human experience. We exist to improve our environment, ecosystem, and experience through design. </p>

		</div>
		<div class="new-guinea">
			<h3>Who is Subforum?</h3>
			<p> We are a small team of designers and researchers spanning the industrial, architectural, and interaction design disciplines. The group is comprised of three topic teams and a small core team. Topic teams are dedicated to researching, understanding, and communicating findings about issues of critical importance in design. At present, Subforum’s topic teams focus on remote collaboration, distraction, and routines. The core team exists to orchestrate the group as a whole and to support the efforts of the topic teams. Contact us at info@subforum.org to learn more about turning design insights into world improving tools.</p>
			<ul>
					<li>Giles Phillips <a href="https://twitter.com/gilesphillips">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/gilesphillips">{{fa-icon "linkedin"}}</a></li>
					<li>Damon Dimmick <a href="https://twitter.com/damondimmick">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/damondimmick">{{fa-icon "linkedin"}}</a></li>
					<li>John Biebel <a href="https://www.linkedin.com/in/john-biebel-6921938">{{fa-icon "linkedin"}}</a></li>
					<li>Ronjon Bhattacharya <a href="https://twitter.com/KendallStaffing">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/ronjonbhattacharya">{{fa-icon "linkedin"}}</a></li>
					<li>Galen Moore <a href="https://twitter.com/galenmoore">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/galenmoore">{{fa-icon "linkedin"}}</a></li>
					<li>Adam Hasler <a href="https://twitter.com/amhasler">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/adam-hasler-3599155">{{fa-icon "linkedin"}}</a></li>
					<li>Emily Carlin <a href="https://www.linkedin.com/in/emily-carlin-760b2342">{{fa-icon "linkedin"}}</a></li>
					<li>Julie Sargent <a href="https://twitter.com/sargentja">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/juliesargent">{{fa-icon "linkedin"}}</a></li>
					<li>Bryant Wolf <a href="https://twitter.com/BA_Wolf">{{fa-icon "twitter"}}</a><a href="https://www.linkedin.com/in/bryantawolf">{{fa-icon "linkedin"}}</a></li>
			</ul>
		</div>
	</div>
</div>


{{yield}}
